body {
    padding-top: 60px;
    /* 60px to make the container go all the way to the bottom of the topbar */
}
.templates {
    padding-top: 5px;
}
.templates div {
    border-bottom: 1px solid #eee;
    padding: 3px 0
}
#searchControls {
    position: fixed;
    left: 52.5%;
    top: 150px
}
.form-horizontal .controls {
    margin-left: 0;
}
#formTemplateReload {
    position: relative
}
.err {
    color: red;
}